.container{
    margin-bottom: 100px;
}
.carousel-item{
    padding: 20px 40px;
    background-image: url(images/bg-1.png);
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
    background-size:auto;
}
.buy-now-button{
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.see-all{
    color:orangered;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;}
    .card-body{
        text-align: center;
    }
    .cat{
        text-align: center;
        
    }
    .line{
        text-align: center;
       

    }
 hr   { border-bottom: 8px solid orangered;
    
    width: 110px;
    
    border-radius: 10px;
    background-image: linear-gradient(60 deg,orange,orangered);

    }
    .correction{
        position: absolute;
    }
    footer{
        text-align: center;
        color: gray;
    }